.app{
  padding-top: 5%;
}
.calculator{
  border: 3px solid cyan;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}
@media screen and (max-width: 425px){
  .app{
    padding-top: 0;
  }
}