.operationButton{
    padding: 12px;
    margin: 10px;
    font-size: 18px;
    border: 1px solid cyan;
    outline-color: cyan;
}

@media screen and (max-width: 425px){
    .operationButton{
        font-size: 25px;
        padding: 15px;
    }
}
